<html>
  <head>
    <meta charset="utf-8" />
    <title>Example App</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <header>Random Password Generator</header>
  <body>
    {{{body}}}
  </body>

  <script
    src="https://kit.fontawesome.com/da9acf7b25.js"
    crossorigin="anonymous"
  ></script>
</html>