<section>
  <div class="generator">
    <div class="title">
      Random Password Generator
      <i class="fa-solid fa-key"></i>
    </div>

    <div class="data-processing"></div>
    <form action="/" method="post" novalidate="true">

      <div class="form-group">
        <label for="length" class="text-title">Password Length</label>
        <input
          type="number"
          id="length"
          name="length"
          min="4"
          max="16"
          required="true"
          value="{{inputLength}}"
          
        />
        <div class="hint">Length is available between 4 ~ 16</div>
      </div>

      <div class="form-check form-check-inline">
        <span>
          Include Lowercase Characters
        </span>
        <input
          class="form-check-input"
          name="characterType"
          type="checkbox"
          id="lowercase"
          value="lowercase"
        />
        <label for="lowercase">
          (e.g. abcdefg)
        </label>
      </div>

      <div class="form-check form-check-inline">
        <span>
          Include Uppercase Characters
        </span>
        <input
          class="form-check-input"
          name="characterType"
          type="checkbox"
          id="uppercase"
          value="uppercase"
        />
        <label for="uppercase">
          (e.g. ABCDEFG)
        </label>
      </div>

      <div class="form-check form-check-inline">
        <span>
          Include Numbers
        </span>
        <input
          class="form-check-input"
          name="characterType"
          type="checkbox"
          id="number"
          value="number"
        />
        <label for="number">
          (e.g. 123456)
        </label>
      </div>

      <div class="form-check form-check-inline">
        <span>
          Include Symbols
        </span>
        <input
          class="form-check-input"
          name="characterType"
          type="checkbox"
          id="symbol"
          value="symbol"
        />
        <label for="symbol">
          (e.g. @#$%)
        </label>
      </div>

      <div class="form-group">
        <label for="exclude" class="text-title">Exclude Characters</label>
        <input
          type="text"
          id="exclude"
          name="exclude"
          value="{{excludeChar}}"
        />
        <div class="hint">These characters will not appear in the password</div>
      </div>
      <div class="warning" id="warning">Your password is:
        <span class="warning-color">You must select at least one character set</span></div>
      <div class="success-password-show-up" id="success-password">Your password is:
        <span class="success-password-color">{{password}}</span></div>
      <div class="button">
        <button type="submit">Generate Password</button></div>
    </form>

  </div>
  <div class="footage">idea is inspired by
    <span class="footage-info">Strong Random Password
    </span></div>

</section>